.navbar {
  background-color: #333;
  padding: 10px 0;
  margin: 0;
  display: block;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
}

.navbar-menu a:hover {
  background-color: #555;
  border-radius: 5px;
}


.navbar-menu li button {
  background-color: red;
  color: black;
  width: 75px;
  border-radius: 20px;
}
