/* You can add global styles to this file, and also import other style files */
.invalid {
  border: red solid 3px !important;
}

body {
  margin: 0;
  background-color: #7f8c8d;
}

.cursor-progress {
  cursor: progress !important;
}
